@import "swiper/css/bundle" layer(base);
@import "tailwindcss" source("../../app");
@plugin "@tailwindcss/typography";

@import "./theme.css";
@import "./keyframes.css";
@import "./utilities.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  * {
    font-variant-ligatures: none;
    border-color: rgb(var(--color-border) / 0.15);
  }
  html {
    @apply font-sans scroll-pt-40;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }

  button,
  a {
    @apply cursor-pointer underline-offset-4;
  }

  mark {
    @apply font-medium;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    @apply appearance-none;
  }

  input,
  textarea,
  select {
    @apply rounded-md border border-gray-600 focus:outline-none focus:ring-1 focus:ring-offset-0 focus:ring-gray-600;
  }

  input::placeholder,
  textarea::placeholder {
    @apply opacity-75;
  }

  .prose {
    @apply max-w-full!;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
    img {
      @apply mx-auto;
    }
    video, iframe {
      @apply aspect-video;
    }
  }
}
