@import "swiper/swiper-bundle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens */
:root {
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --shop-pay-button-border-radius: 0;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;
  --option-swatch-radius: 0;
  --option-swatch-size: 2rem;

  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

@layer base {
  * {
    font-variant-ligatures: none;
    border-color: rgb(var(--color-border) / 0.15);
  }

  html {
    @apply font-serif;
    scroll-padding-top: 10rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  a.active {
    @apply border-b;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-body;
    }
    @apply prose mx-auto mb-12 grid justify-center font-serif text-body;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }
}

@layer utilities {
  .hidden-scroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .strike {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 108%;
      height: 1px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: var(--color-compare-price-text);
      box-shadow: 0.5px 0.5px 0px 0.5px white;
    }
  }

  .card-image {
    @apply relative flex items-center justify-center overflow-clip rounded;
    &::before {
      content: " ";
      @apply absolute top-0 left-0 z-10 block h-full w-full rounded shadow-border;
    }
    img {
      @apply aspect-[inherit] w-full object-cover;
    }
  }
}

.diagonal {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    @apply absolute inset-0 z-1;
    background: linear-gradient(
        to top left,
        transparent calc(50% - 1px),
        var(--color-sold-out-and-unavailable),
        transparent calc(50% + 1px)
      )
      no-repeat;
  }
}

.vt-product-image {
  view-transition-name: product-image;
}

.reveal-underline {
  background-image: linear-gradient(
    to right,
    var(--underline-color, rgb(15, 15, 15)),
    var(--underline-color, rgb(15, 15, 15))
  );
  background-size: 0% 1px;
  background-repeat: no-repeat;
  display: inline;
  padding-bottom: 3px;
  transition: background 200ms ease-in-out;
  background-position: left calc(1em + 4px);
}
.reveal-underline:hover {
  background-size: 100% 1px;
}

mark {
  background-color: none;
  font-weight: 500;
}

.animated-scope [data-motion] {
  opacity: 0;
}
