@theme inline {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes scale-in {
    0% {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: rotateX(0) scale(1);
    }
  }
  @keyframes scale-out {
    0% {
      opacity: 1;
      transform: rotateX(0) scale(1);
    }
    100% {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }
  @keyframes expand {
    0% {
      height: 0;
    }
    100% {
      height: var(--expand-to);
    }
  }
  @keyframes collapse {
    0% {
      height: var(--collapse-from);
    }
    100% {
      height: 0;
    }
  }
  @keyframes slide-left {
    0% {
      opacity: 0;
      transform: translateX(var(--slide-left-from));
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(var(--slide-up-from));
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes enter-from-left {
    0% {
      transform: translateX(var(--enter-from-left-distance, -100%));
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes enter-from-right {
    0% {
      transform: translateX(var(--enter-from-right-distance, 100%));
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes exit-to-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes exit-to-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes enter-from-top {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes exit-to-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @keyframes marquee {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes underline-toggle {
    0% {
      transform: scaleX(1);
      transform-origin: right;
    }
    50% {
      transform: scaleX(0);
      transform-origin: right;
    }
    51% {
      transform-origin: left;
    }
    100% {
      transform: scaleX(1);
    }
  }
}
