@weaverse:registry=https://registry.npmjs.com
@shopify:registry=https://registry.npmjs.com
ignore-scripts=true
public-hoist-pattern[]=cookie
public-hoist-pattern[]=set-cookie-parser
public-hoist-pattern[]=textr
