@weaverse:registry=https://registry.npmjs.com
@shopify:registry=https://registry.npmjs.com
public-hoist-pattern[]=cookie
public-hoist-pattern[]=set-cookie-parser
public-hoist-pattern[]=textr
legacy-peer-deps=true